<header class="uk-animation-fade" style="z-index: 1">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar" class="back_color">
			<nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-light" uk-navbar>
				<a class="uk-navbar-item uk-hidden@s" type="button" uk-toggle="target: #offcanvas-nav-primary" uk-navbar-toggle-icon ></a>
						
						<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true; esc-close: true">
							<div class="uk-offcanvas-bar uk-flex uk-flex-column">
								<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
									<li class="{{activeHome}}"><a href="/"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Home</a></li>
									<li class="uk-parent {{activeAbout}}">
										<a href="/about"><span class="uk-margin-small-right" uk-icon="icon: info"></span>About</a>
									</li>
									<li class="{{activeRecipe}}">
										<a href="/recipe"><span class="uk-icon uk-margin-small-right" uk-icon="icon: uikit"></span>Recipe Engine</a>
									</li>
									<li class="live-chat">
										<a href="https://harshnodechatapp.herokuapp.com/"><span class="uk-icon uk-margin-small-right" uk-icon="icon: comments"></span>Live Chat</a>
									</li>
									<li class="uk-nav-header">Creator : Harsh Gupta</li>
									<li class="uk-nav-divider"></li>
									<li class="{{activeHelp}}"><a href="/help"><span class="uk-margin-small-right" uk-icon="icon: question"></span> Help</a></li>
									<li class="SignUpPageButton" style="display:none;"><a href="/signup"><button class="uk-button uk-button-primary" >Sign Up</button></a></li>
									<li class="LoginPageButton" style="display:none;"><a href='/login'><button class="uk-button uk-button-primary" >Login</button></a></li>
									<li class="MyProfilePageButton" style="display:none;"><a href='/profile'><button class="uk-button uk-button-primary"><span class="uk-icon uk-margin-small-right" uk-icon="icon: user;ratio: .85"></span>Profile</button> </a></li>			
								</ul>
							</div>
						</div>
					<a class="uk-navbar-item uk-logo uk-hidden@s" href="/"><img src="/img/logo.png" alt="HomePage"></a>
				<div class="uk-navbar-left uk-visible@s">
					
					<a class="uk-navbar-item uk-logo" href="/"><img src="/img/logo.png" alt="HomePage"></a>

					<ul class="uk-navbar-nav">
						<li class="{{activeHome}}">
							<a href="/">
								<span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
								Home
							</a>
						</li>
						<li class="{{activeRecipe}}">
							<a href="/recipe">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: uikit"></span>
							Recipe Engine
							</a>
							<div class="uk-navbar-dropdown">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									<li class="uk-active"><a href="#">Active</a></li>
									<li><a href="#">Item</a></li>
									<li><a href="#">Item</a></li>
								</ul>
							</div>
						</li>
						<li class="live-chat">
							<a href="https://harshnodechatapp.herokuapp.com/">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: comments"></span>
							Live Chat</a>
						</li>
						<li class="{{activeAbout}}">
							<a href="/about">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
							About
							</a>	
						</li>
						<li class="{{activeHelp}}">
							<a href="/help">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: question"></span>
							Help</a>
							
						</li>
						
					</ul>


				</div>
				<div class="uk-navbar-right">
					{{!-- <a href="/signup"><button class="uk-button uk-button-primary SignUpPageButton" style="display:none; padding: 10px">Sign Up</button></a> --}}
					{{!-- <a href='/login'><button class="uk-button uk-button-primary LoginPageButton" style="display:none; padding:10px;margin: 10px">Login</button></a> --}}
					<a class="uk-button uk-button-primary  LoginPageButton" style="display:none; padding:5px 20px 5px 20px" href="#modal-overflow" uk-toggle> Login/SignUp</a>
					<a href='/profile'><button class="uk-button uk-button-primary MyProfilePageButton" style="display:none; padding:10px;margin: 10px"><span class="uk-icon uk-margin-small-right" uk-icon="icon: user;ratio: .85"></span>Profile</button> </a>
				</div>
				{{!-- <div class="uk-navbar-right uk-hidden@m">
					<a href='/profile'><button class="uk-button uk-button-primary MyProfilePageButton" style="display:none; padding:10px;">Profile</button> </a>
					<a href='/signup'><button class="uk-button uk-button-primary SignUpPageButton" style="display:none; padding: 10px">Sign In/Login</button></a>
				</div> --}}
				
			</nav>
		</div>

		 <div id="modal-overflow" uk-modal="bg-close:false">
				<div class="uk-modal-dialog uk-margin-auto-vertical">
                    
					<button class="uk-modal-close-outside uk-close-large" type="button" uk-close></button>

					<div class="uk-modal-header">
						<ul class="uk-flex uk-flex-center" uk-tab="connect:.loginSwitcher">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Signup</a></li>
                            <li id="PasswordFacebookSignup" style="display: none;"><a href="#">Create New Password</a></li>
                        </ul>
					</div>

					<div class="uk-modal-body" uk-overflow-auto>
                        <ul class="loginSwitcher uk-switcher uk-margin">
                            <li>
                                <div class="uk-container uk-text-center">
                                    <div id="fbLoginButton" onLogin="checkLoginState();" class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true" data-width=""  data-scope="public_profile, email"></div>
                                    <h4 class="uk-align-center">Or</h4>
                                    <p><strong>Your Login Credentials</strong> </p>
                                    <form>
                                        <input id="EmailUserLogin" type="email" placeholder="Email" size="25"  onchange="sanitizeInput(this);" uk-tooltip="title: Must be a valid Email; pos: right;duration: 500;delay: 200" autocomplete="email"/><br/>
                                        <input id="PasswordLogin" type="password" placeholder="password" size="25"  minlength="6" maxlength="10"  onchange="sanitizeInput(this);" uk-tooltip="title: Must be Atleast 8 characters long; pos: right;duration: 500;delay: 200"  autocomplete="current-password" /><br/>
                                        <br/>
                                         &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="SubmitDetailsLogin">Submit</button>&nbsp;&nbsp;<a href="/forgotpassword" target="_blank">Forgot Password</a>
                                        {{!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> --}}
                                    </form>
                                    <pre id="modalpara"> </pre>
                                </div>
                            </li>
                            <li>
								<div class="uk-container uk-text-center">
									<div onLogin="checkLoginState();" class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true" data-width=""  data-scope="public_profile, email"></div>
									<h4 class="uk-align-center">Or</h4>
									<form>
										<div class="uk-grid-row-collapse uk-flex-center" uk-grid>
												<label class="uk-text-center@s uk-width-1-3 uk-width-1-4@m" for="Username">Username   </label> <input class="uk-width-1-2 uk-width-2-3@s uk-width-3-4@m" id="Username" type="text/plain" placeholder="username" minlength="5" maxlength="12" size="12" onchange="sanitizeInput(this);" uk-tooltip="title: Must Be unique; pos: right;duration: 500;delay: 200" autocomplete="name"/>
												<label class="uk-text-center@s uk-width-1-3 uk-width-1-4@m" for="EmailUser">Email   </label> <input class="uk-width-1-2 uk-width-2-3@s uk-width-3-4@m" id="EmailUser" type="email" placeholder="Email" size="25" onchange="sanitizeInput(this);" uk-tooltip="title: Email-Verification will be done; pos: right;duration: 500;delay: 200" autocomplete="email" /><br/>
												<label class="uk-text-center@s uk-width-1-3 uk-width-1-4@m" for="AgeUser">Age  </label> <input class="uk-width-1-2 uk-width-2-3@s uk-width-3-4@m" id="AgeUser" type="number" placeholder="AgeUser" maxlength="3" onchange="sanitizeInput(this);" uk-tooltip="title: >18; pos: right;duration: 500;delay: 200"/><br/>
												<label class="uk-text-center@s uk-width-1-3 uk-width-1-4@m" for="Password">Password  </label> <input class="uk-width-1-2 uk-width-2-3@s uk-width-3-4@m" id="Password" type="password" placeholder="password" minlength="6" size="13" maxlength="14" onchange="sanitizeInput(this);" uk-tooltip="title: Must contain atleast 8 characters; pos: right;duration: 500;delay: 200" autocomplete="new-password"/>
												<span class="uk-text-center@s uk-width-1-3 uk-width-1-4@m" ></span><span id="spanPassword"class="uk-text-center@s uk-width-1-2 uk-width-2-3@s uk-width-3-4@m" ></span>
										</div>
										<div style="margin-top: 20px;">
											<button id="SubmitDetailsSignUp">Submit</button>   Already a member , <a href="/login">Login</a>
										</div>
										
									</form>
									<pre id="modalparaSignUp"> </pre>
								</div>
							</li>
                            <li>
								<form>
									 <input id="PasswordCreationFacebook" type="password" placeholder="password" size="25"  minlength="6" maxlength="10"  onchange="sanitizeInput(this);" uk-tooltip="title: Must be Atleast 8 characters long; pos: right;duration: 500;delay: 200"  autocomplete="current-password" /><br/>
								</form>
							</li>
                        </ul>
						
					</div>

					<div class="uk-modal-footer uk-text-right">
					</div>

				</div>
			</div>

</header>