<header class="uk-animation-fade" style="z-index: 1">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar" class="back_color">
			<nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-light" uk-navbar>
				<a class="uk-navbar-item uk-hidden@s" type="button" uk-toggle="target: #offcanvas-nav-primary" uk-navbar-toggle-icon ></a>
						
						<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true; esc-close: true">
							<div class="uk-offcanvas-bar uk-flex uk-flex-column">
								<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
									<li class="{{activeHome}}"><a href="/"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Home</a></li>
									<li class="uk-parent {{activeAbout}}">
										<a href="/about"><span class="uk-margin-small-right" uk-icon="icon: info"></span>About</a>
									</li>
									<li class="{{activeRecipe}}">
										<a href="/recipe"><span class="uk-icon uk-margin-small-right" uk-icon="icon: uikit"></span>Recipe Engigne</a>
									</li>
									<li class="uk-nav-header">Creator : Harsh Gupta</li>
									<li class="uk-nav-divider"></li>
									<li class="{{activeHelp}}"><a href="/help"><span class="uk-margin-small-right" uk-icon="icon: question"></span> Help</a></li>
									<li class="SignUpPageButton" style="display:none;"><a href="/signup"><button class="uk-button uk-button-primary" >Sign Up</button></a></li>
									<li class="LoginPageButton" style="display:none;"><a href='/login'><button class="uk-button uk-button-primary" >Login</button></a></li>
									<li class="MyProfilePageButton" style="display:none;"><a href='/profile'><button class="uk-button uk-button-primary">Profile</button> </a></li>
								
								</ul>

							</div>
						</div>
					<a class="uk-navbar-item uk-logo uk-hidden@s" href="/"><img src="/img/logo.png" alt="HomePage"></a>
				<div class="uk-navbar-left uk-visible@s">
					
					<a class="uk-navbar-item uk-logo" href="/"><img src="/img/logo.png" alt="HomePage"></a>

					<ul class="uk-navbar-nav">
						<li class="{{activeHome}}">
							<a href="/">
								<span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
								Home
							</a>
						</li>
						<li class="{{activeAbout}}">
							
							<a href="/about">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
							About
							</a>
							
						</li>
						<li class="{{activeRecipe}}">
							<a href="/recipe">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: uikit"></span>
							Recipe Engigne
							</a>
							<div class="uk-navbar-dropdown">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									<li class="uk-active"><a href="#">Active</a></li>
									<li><a href="#">Item</a></li>
									<li><a href="#">Item</a></li>
								</ul>
							</div>
						</li>
						<li class="{{activeHelp}}">
							<a href="/help">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: question"></span>
							Help</a>
							
						</li>
						
					</ul>


				</div>
				<div class="uk-navbar-right uk-visible@m">
					<a href="/signup"><button class="uk-button uk-button-primary SignUpPageButton" style="display:none; padding: 10px">Sign Up</button></a>
					<a href='/login'><button class="uk-button uk-button-primary LoginPageButton" style="display:none; padding:10px;margin: 10px">Login</button></a>
					<a href='/profile'><button class="uk-button uk-button-primary MyProfilePageButton" style="display:none; padding:10px;margin: 10px">Profile</button> </a>
				</div>
				<div class="uk-navbar-right uk-hidden@m">
					<a href='/profile'><button class="uk-button uk-button-primary MyProfilePageButton" style="display:none; padding:10px;">Profile</button> </a>
					<a href='/signup'><button class="uk-button uk-button-primary SignUpPageButton" style="display:none; padding: 10px">Sign In/Login</button></a>
				</div>
				
			</nav>
		</div>

</header>