<header>
    {{!-- <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div> --}}

    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar" class="back_color">
			<nav class="uk-navbar-container uk-margin uk-navbar-transparent uk-dark" uk-navbar>
				<a class="uk-navbar-item uk-hidden@s" type="button" uk-toggle="target: #offcanvas-nav-primary" uk-navbar-toggle-icon ></a>
						
						<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
							<div class="uk-offcanvas-bar uk-flex uk-flex-column">
								<ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
									<li class="{{activeHome}}"><a href="/"><span class="uk-margin-small-right" uk-icon="icon: home"></span>Home</a></li>
									<li class="uk-parent {{activeAbout}}">
										<a href="/about"><span class="uk-margin-small-right" uk-icon="icon: info"></span>About</a>
									</li>
									<li class="uk-nav-header">Creator : Harsh Gupta</li>
									<li class="uk-nav-divider"></li>
									<li class="{{activeHelp}}"><a href="/help"><span class="uk-margin-small-right" uk-icon="icon: question"></span> Help</a></li>
									<li><a href="/signup"><button class="uk-button uk-button-primary  SignUpPageButton" style="display:none; padding: 10px">Sign Up</button></a></li>
									<li><a href='/login'><button class="uk-button uk-button-primary  LoginPageButton" style="display:none; padding:10px;margin: 10px">Login</button></a></li>
									<li><a href='/profile'><button class="uk-button uk-button-primary MyProfilePageButton" style="display:none; padding:10px;margin: 10px">Profile</button> </a></li>
								
								</ul>

							</div>
						</div>
					<a class="uk-navbar-item uk-logo uk-hidden@s" href="#">Menu</a>
				<div class="uk-navbar-left uk-visible@s">
					
					<a class="uk-navbar-item uk-logo" href="#">{{title}}</a>

					<ul class="uk-navbar-nav">
						<li class="{{activeHome}}">
							<a href="/">
								<span class="uk-icon uk-margin-small-right" uk-icon="icon: home"></span>
								Home
							</a>
						</li>
						<li class="{{activeAbout}}">
							
							<a href="/about">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: info"></span>
							About
							</a>
							
						</li>
						<li class="{{activeHelp}}">
							<a href="/help">
							<span class="uk-icon uk-margin-small-right" uk-icon="icon: question"></span>
							Help</a>
							<!-- <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2"  uk-drop="boundary: !nav; boundary-align: true; pos: bottom-justify;">
								<div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
									<div>
										<ul class="uk-nav uk-navbar-dropdown-nav">
											<li class="uk-active"><a href="#">Active</a></li>
											<li><a href="#">Item</a></li>
											<li class="uk-nav-header">Header</li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li class="uk-nav-divider"></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
									<div>
										<ul class="uk-nav uk-navbar-dropdown-nav">
											<li class="uk-active"><a href="#">Active</a></li>
											<li><a href="#">Item</a></li>
											<li class="uk-nav-header">Header</li>
											<li><a href="#">Item</a></li>
											<li><a href="#">Item</a></li>
											<li class="uk-nav-divider"></li>
											<li><a href="#">Item</a></li>
										</ul>
									</div>
								</div>
							</div> -->
						</li>
						
					</ul>


				</div>
				<div class="uk-navbar-right uk-visible@m">
					<a href="/signup"><button class="uk-button uk-button-primary SignUpPageButton" style="display:none; padding: 10px">Sign Up</button></a>
					<a href='/login'><button class="uk-button uk-button-primary LoginPageButton" style="display:none; padding:10px;margin: 10px">Login</button></a>
					<a href='/profile'><button class="uk-button uk-button-primary MyProfilePageButton" style="display:none; padding:10px;margin: 10px">Profile</button> </a>
				</div>
				<div class="uk-navbar-right uk-visible@s uk-hidden@m">
					<button class="uk-button uk-button-primary" style="padding: 10px">Sign In/Login</button>
				</div>
				
			</nav>
		</div>

</header>